@use "./colors";
@use "./fonts";


@mixin flex-display (
    $justify-content: center,
    $align-items: center,
) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}